---

import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Reacts from './icons/Reacts.astro'
import Docker from './icons/Docker.astro'
import Php from './icons/Php.astro'
import Laravel from './icons/Laravel.astro'

import ExperienceItem from "./ExperienceItem.astro"
const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-black text-white",
    icon: Reacts,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-[#2796EC] text-white",
    icon: Docker,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#7277AD] text-white",
    icon: Php,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#1E293B] text-white",
    icon: Tailwind,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-white text-black dark:bg-black dark:text-white ",
    icon: Laravel,
  },
}
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Fullstack",
    company: "Avannubo",
    description:
      "Desarrollo de aplicaciones web para empresas clientes. Implementación de soluciones de software a medida, con un enfoque en la experiencia de usuario y la escalabilidad.",
    tags: [TAGS.LARAVEL, TAGS.TAILWIND, TAGS.DOCKER, ],
  },
  
]

---

<ol class="relative mt-16">
  {EXPERIENCE.map((experience) => (
    <li class="mb-8">
      <ExperienceItem {...experience} />
     
      
    </li>
  ))}
</ol>
