---
import ThemeToggle from "./ThemeToggle.astro"
import LanguageToggle from "./LanguageToggle.astro"

const navItems = [
  
  {
    titleEn: "Projects",
    titleEs: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    titleEn: "Experience",
    titleEs: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    titleEn: "About",
    titleEs: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    titleEn: "Contact",
    titleEs: "Contacto",
    label: "contacto",
    url: "mailto:lucasmaragu@gmail.com",
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center backdrop-blur-md"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-purple-500 dark:hover:text-purple-400"
          aria-label={link.label}
          href={link.url}
        >
          <span class="lang-es">{link.titleEs}</span>
          <span class="lang-en">{link.titleEn}</span>
        </a>
      ))
    }
    <div class="flex items-center gap-2">
      <LanguageToggle />
      <ThemeToggle />
    </div>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-purple-500", "dark:text-purple-400")
            } else {
              item.classList.remove("text-purple-500", "dark:text-purple-400")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  nav {
    @apply dark:bg-gray-800/80 bg-white/80 border border-gray-200 dark:border-gray-700/50;
  }

  @keyframes nav-shadown {
    0% {
      @apply dark:bg-gray-800/0 bg-white/0 border-transparent;
    }
    to {
      @apply shadow-lg backdrop-blur-md;
    }
  }
</style>

