---
const personalImageAlt = "Lucas Martínez"

import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import GithubIcon from "@/components/icons/GitHub.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import CV from "@/components/icons/Pdf.astro" 
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <div class="relative">
      <div class="absolute inset-0 bg-gradient-to-tr from-purple-500 to-indigo-500 rounded-full blur-md opacity-20 dark:opacity-30 -z-10"></div>
      <img
        class="rounded-full shadow-lg size-16 border-2 border-white dark:border-gray-800"
        src="/yo.jfif"
        alt={personalImageAlt}
      />
    </div>
    <a
      href="https://linkedin.com/in/lucasmartinezaguilera"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
     
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-600 to-indigo-500">Lucas Martínez</span>
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-purple-300 [&>strong]:text-purple-600 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>Fullstack Developer y Estudiante de Desarrollo de Aplicaciones Web</strong> de Barcelona, España 🇪🇸. Mi
    objetivo es aportar valor en cada proyecto, combinando
    mis habilidades con una actitud abierta al aprendizaje
    continuo y la adaptación a nuevas tendencias y
    tecnologías.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:lucasmaragu@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/lucasmartinezaguilera/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/lucasmaragu">
      <GithubIcon class="size-4" />
      Github
    </SocialPill>
    <SocialPill href="cv-lucasmartinezaguilera.pdf">
      <CV class="size-4" />
      CV
    </SocialPill>
  </nav>
</div>

