---
const personalImageAlt = "Lucas Mart칤nez"

import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import CV from "@/components/icons/Pdf.astro" 

---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/yo.jfif"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/lucasmartinezaguilera"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
     
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Lucas Mart칤nez
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>Fullstack Developer y Estudiante de Desarrollo de Aplicaciones Web</strong> de Barcelona, Espa침a 游쀯릖. Con m치s de 15 a침os de experiencia en tecnolog칤a y aprendizaje continuo, especializado en la creaci칩n de proyectos web modernos y funcionales.

  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:lucasmaragu@gmail.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/lucasmaragu">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="cv-lucasmartinezaguilera.pdf">
      <CV class="size-4" />
      CV
    </SocialPill>
  </nav>
</div>
