---
const { href } = Astro.props;
---

<a
    target="_blank"
    href={href}
    role="link"
    class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-emerald-500/80 text-md hover:bg-emerald-600 hover:border-emerald-700 group max-w-fit rounded-xl hover:text-white dark:hover:bg-emerald-600 dark:hover:border-emerald-700 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-emerald-700 transform hover:-translate-y-1 transition-all duration-300"
>
    <slot />
</a>
